/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    color: #8a0b0b;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task-button {
    padding: 10px;
    border: none;
    background-color: #3f28a7;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #882177;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #73c7e0;
    border: 1px solid #74daaf;
    border-radius: 5px;
    margin-bottom: 10px;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

button.delete {
    background-color: #dc3545;
    color:gray ;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #2c1d1e;
}
